.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.relative {
  position: relative;
}

.content {
  position: absolute;
  z-index: 9;
}

.trigger {
  width: fit-content;
}
