.container {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.select_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font-size: var(--text-base);
  padding: 0.5rem;
}

.public_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
