.input {
    width: fit-content;
    border: 0.125rem solid black;
    outline: none; 
    transition: border-color 0.2s ease-in-out;
  }

.input:focus {
    border-color: var(--color-indigo-600); 
    box-shadow: 0 0 5px var(--color-indigo-600); 
}
  /* Size variants */
.input_title-sm {
    padding: 0.5rem 0.5rem;
    border-radius: 0.8rem;
    font-size: var(--text-2xl);
}

.input_text-lg {
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
    font-size: var(--text-lg);
}
  /* Variant styles */