.input {
  width: fit-content;
  border: 1px solid var(--color-gray-300);
  outline: none;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  border-radius: var(--radius-input);
  font-family: "42dot Sans", serif;
}

.input::placeholder {
  color: var(--color-gray-400);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox에서 spin 버튼 숨기기 */
}

.input:focus {
  border-color: var(--color-gray-400);
}
/* Size variants */
.input_sm {
  font-size: var(--text-sm);
}
.input_md {
  font-size: var(--text-base);
}

.input_lg {
  font-size: var(--text-lg);
}
