.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.basic_info_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-semibold);
}

.info_box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user_photo_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user_photo {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: var(--radius-full);
}

.basic_info_box {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.basic_info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  font-size: var(--text-base);
}

.info_name {
  opacity: 0.5;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
}
