.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.title {
  color: var(--color-black);
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.input_box{
  display: flex;
}
.user_name_box{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
}

.user_name{
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: var(--radius-lg);
  background-color: var(--color-indigo-200);
}

.name{
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  margin-right: 0.25rem;
}

.add_button_box{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}