.weather-container {
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
  }

  .forecast_grid{
    width: 100%;
    height: 100%;
    display: flex;
    gap:0.5rem;
  }
  
.forecastCard{
    width: 20%;
    height: 10rem;
    min-width: 6rem;
    box-sizing: border-box;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    background-color: var(--color-gray-200);
    border-radius: var(--radius-lg);
}

@media (max-width: 1085px) {
  .forecastCard{
    width: 25%;
  }
  .forecastCard{
    width: 33.3%;
  }
}

.forecast_img {
    width: 50%;
    aspect-ratio: 1;
    margin: 10px 0;
}

.forecast_text{
    font-size: var(--text-lg);
    color:var(--color-black);
}