.container {
  flex: 1;
  box-sizing: border-box;
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.plan_photo_box {
  border-radius: var(--radius-xl);
  transition: width 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.plan_photo_box.has_image {
  width: 50%;
}

.plan_photo_box.no_image {
  width: 25%;
}

.plan_photo {
  overflow: hidden;
  border-radius: var(--radius-xl);
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.plan_container {
  box-sizing: border-box;
  border: 1px solid var(--color-text-dynamic);
  border-radius: var(--radius-xl);
  width: 50%;
  background-color: var(--color-bg-primary);
  color: var(--color-text-dynamic);
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.plan_box {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .plan_photo_box.has_image {
    width: 5%;
  }

  .plan_photo_box.no_image {
    width: 5%;
  }

  .plan_photo {
    display: none;
  }

  .plan_container {
    width: 90%;
  }
}

.title {
  font-size: var(--text-2xl);
  margin-bottom: 2rem;
  font-weight: var(--font-weight-semibold);
}

.plan_columns {
  display: flex;
  align-items: center;
}

.place {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.input_name {
  width: 30%;
  text-align: right;
  padding: 0 1rem;
  font-size: var(--text-2xl);
}

.button_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

.input_text {
  font-size: var(--text-base);
  color: var(--color-black);
}

.error {
  color: var(--color-red-600);
  font-size: var(--text-xs);
}

.private_box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.radio_box {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.radio_label {
  position: relative;
  top: 2px;
}
