.container {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 30rem;
}

:global(.ql-container) {
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
}

:global(.ql-editor) {
  height: 100%;
  flex: 1;
}

:global(.ql-editor img) {
  max-width: 100%;
  height: auto;
}

:global(.ql-editor strong),
:global(.ql-editor b) {
  font-weight: bold;
}

:global(.ql-editor em),
:global(.ql-editor i) {
  font-style: italic;
}

:global(.ql-image-align-right) {
  float: right;
  margin: 0 0 10px 10px;
}

:global(.ql-image-align-left) {
  float: left;
  margin: 0 10px 10px 0;
}

:global(.ql-image-align-center) {
  display: block;
  width: fit-content;
  margin: 0 auto 10px;
}
