.customBullet {
  background: white !important;
  opacity: 0.6 !important;
}

.customBullet[class*="swiper-pagination-bullet-active"] {
  background: white !important;
  opacity: 1 !important;
}

.banner_img {
  width: 100%;
  max-height: 20rem;

  object-fit: cover;
  object-position: center;

  border-radius: var(--radius-sm);
}
