.container {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.plan_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info_edit_box {
  display: flex;
  justify-content: right;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-top: 1px solid var(--color-gray-200);
  padding: 1rem 0;
}

.plan_container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.footer {
  padding-top: 1rem;
  align-self: center;
}

.place_container {
  border-top: 1px solid var(--color-gray-200);
  padding: 1rem 0;
  display: flex;
  flex: 1;
  gap: 2rem;
  height: 14rem;
  overflow: hidden;
}

.place_box {
  display: flex;
  gap: 1rem;
  min-width: 25rem;
  align-items: center;
  border-radius: var(--radius-4xl);
  border: 3px solid var(--color-gray-200);
  position: relative;
}

.des_img {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius-4xl);
  opacity: 0.6;
}

.des_img_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-dynamic);
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-extrabold);
  transition: transform 0.1s;
}

.like_container,
.interest_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
