.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-2xl);
}

.budget_column_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--color-indigo-50);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: var(--radius-lg);
}

.budget_row_container {
  min-height: 20rem;

  display: flex;
  gap: 1rem;
  flex: 1;
}

.budget_container,
.budget_item {
  flex: 1;
  align-self: stretch;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  background-color: var(--color-bg-primary);
}

.budget_container {
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-xl);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.budget_item {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-height: 30rem;
  overflow-y: auto;
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.budget_title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-lg);
}

.remain_container {
  min-height: 5rem;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  background-color: var(--color-bg-primary);

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.remain_title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-lg);
}
