.container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  width: 100%;
  font-size: var(--text-xs);
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  font-size: var(--text-sm);
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.require {
  color: var(--color-red-500);
  position: relative;
  top: 2px;
}

.helper_text {
  color: var(--color-gray-500);
}

.error {
  color: var(--color-red-500);
}
