.container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content {
    display: flex;
    width: 100%;
    max-width: 70rem;
    height: 45rem;
    box-shadow: var(--shadow-above);
    border-radius: var(--radius-xl);
    overflow: hidden;
    overflow-y: auto;
}
