.container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 81rem;
    min-height: 60vh;
    box-shadow: var(--shadow-above);
    border-radius: var(--radius-xl);
    border-color: var(--color-text-dynamic);
    overflow: hidden;
}
