.weather-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
  }

  .forecast_grid{
    width: 100%;
    height: 100%;
    display: flex;
  }
  
.forecastCard{
    width: 20%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.forecast_img {
    width: 50%;
    aspect-ratio: 1;
    margin: 10px 0;
}

.forecast_text{
    font-size: var(--text-lg);
}