.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4rem;
  width: 100%;
  color: var(--color-text-dynamic);
}

.title {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-logo);
}

.nav_container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: var(--text-md);
  font-weight: var(--font-weight-bold);
}

.nav_item {
  cursor: pointer;
}

.icon_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mobile_nav_container {
  display: none;
}

.icon_menu {
  cursor: pointer;
}

.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);

  gap: 6rem;
}

.sidebar_icons_box {
  display: flex;
  gap: 1rem;
}

/* breakpoint-md */
@media screen and (max-width: 720px) {
  .nav_container {
    display: none;
  }

  .mobile_nav_container {
    display: block;
    position: relative;
    top: 4px;
  }
}
