.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip_text {
  position: absolute;
  bottom: -80%;
  left: 50%;

  padding: 0.2rem 0.5rem;
  border-radius: var(--radius-sm);
  font-size: var(--text-sm);
  white-space: nowrap;
  z-index: 9;
  background-color: var(--color-tooltip-bg);
  color: var(--color-tooltip-text);
}
