html {
  font-family: "42dot Sans", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;

  color: var(--color-text-dynamic);
  background-color: var(--color-bg-primary);
}

/* breakpoint-xl */
@media screen and (max-width: 1440px) {
  html {
    font-size: var(--text-sm);
  }
}

/* breakpoint-md */
@media screen and (max-width: 720px) {
  html {
    font-size: var(--text-xs);
  }
}
